@font-face {
    font-family: 'JFFlat';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/JF-Flat-regular.woff) format("woff");
}


body {
    background: #f6704b;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
    border: none;
    font-family: JFFlat;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: JFFlat;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="text"] {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 30px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 30px;
    padding: 5px 10px;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    resize: vertical;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

.accordeon {
    margin: 40px auto;
    padding: 0;
    list-style: none;
    width: 380px;


    li {
        &:nth-child(1) {
            background-color: #620808;
            color: #ffe9c1;
        }


        &:nth-child(2) {
            background-color: #a53f3f;
            color: #f4ce74;

            .icon {
                background-position: -64px 0;
            }

        }

        &:nth-child(3) {
            background-color: #f4ce74;
            color: #620808;

            .icon {
                background-position: -128px 0;
            }

        }

        &:nth-child(4) {
            background-color: #ffe9c1;
            color: #a53f3f;

            .icon {
                background-position: -192px 0;
            }
        }

        &:nth-child(5) {
            background-color: #d5441c;
            color: #ffe9c1;

            .icon {
                background-position: -256px 0;
            }
        }
    }
}

.head {
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition-duration: .3s;

    &:hover {
        transform: translateX(-10px);
    }

    .icon {
        width: 64px;
        height: 64px;
        background-image: url(../images/icons.png);
        background-size: auto 100%;
        display: block;
    }

}

.body {
    display: none;
    padding: 15px;
    line-height: 30px;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25) inset;
}